.wrapper {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: transparent;
  transition: 0.3s;
  padding: 0px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background: #fffbf6;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}
.logoContainer {
  /* min-width: 123.63px; */
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 1px solid var(--Base-200);
  padding-right: 32px;
}

.navItems {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 30px;

  padding: 15px 32px;
}
.navItem {
  color: var(--Base-700);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
.navActive {
  opacity: 1;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-left: auto;
}
.buttonContainer .button {
  gap: 5px;
}

.arrow {
  font-size: 18px;
}
.icon {
  display: none;
}
.mobileButton {
  display: none;
}

@media only screen and (max-width: 991px) {
  .wrapper {
    padding: 10px 0;
  }
  .header {
    width: calc(100% - 48px);
  }
  .navItems {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 0 24px;
    gap: 0px;
    min-height: 100vh;
    background: var(--Base-0);
    transform: translateX(250%);
    transition: 0.3s;
    position: fixed;
    top: calc(100% + 1px);
    left: auto;
    right: 0;
    padding-top: 30px;

    width: calc(100%);
    max-width: 320px;

    min-height: 100vh;
    border: none;
    backdrop-filter: blur(0px);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 0;
  }
  .dropdownRef {
    width: 100%;
  }
  .sidebar {
    transform: translateX(0%);
    right: 0;
    gap: 15px;
  }

  .icon {
    display: block;
    cursor: pointer;
    color: var(--Base-700);
    font-size: 24px;
  }
  .hamburger {
    color: var(--Base-700);
  }
}
@media only screen and (max-width: 520px) {
  .header {
    width: calc(100% - 40px);
  }
  .navItems {
    padding-left: 20px;
    padding-right: 20px;
  }
  .logo {
    max-width: 100px;
  }
  .buttonContainer .button {
    padding: 8px 12px;
  }
}
@media only screen and (max-width: 450px) {
  .waitingList {
    display: none;
  }
}
